
$font-path: "../assets/fonts";



$app-direction: ltr;


@import "ionic.globals";


// Shared Variables



// Named Color Variables


$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  light:      #f4f4f4,
  dark:       #222,
  success:    #7aa327,
  info:       #477bbe,
  warning:    #c79705,
  danger:     #f53d3d
);


// App iOS Variables


// App Material Design Variables
$toolbar-md-background: color($colors, dark);


// App Windows Variables



// App Theme

@import "ionic.theme.default";


// Ionicons


@import "ionic.ionicons";


// Fonts

@import "roboto";
@import "noto-sans";
