.toast-info {
  .toast-wrapper {
    background-color: color($colors, primary);
  }
}

.toast-warning {
  .toast-wrapper {
    background-color: color($colors, dark);
  }
}

.toast-danger {
  .toast-wrapper {
    background-color: color($colors, danger);
  }
}

.toast-success {
  .toast-wrapper {
    background-color: color($colors, secondary);
  }
}



